{%extends file="admin/framework.tpl"%}

{%block name="head" append%}
    {%$allForms=[]%}
    {%$allForms[]=$form%}
    {%foreach $inlines as $inline%}
        {%$allForms[]=$inline.admin->form%}
    {%/foreach%}
    
    {%$css_code=Form::getHeadCSS($allForms)%}
    {%eval var=$css_code%}
    <style>
        .inline_form{padding:10px;}
        .portlet-body .form-horizontal{margin-top: 20px;}
        .help-inline {font-size: 10px; color: red;}
        .help-inline .tips {color: gray;}
        .breadcrumb a.not-selected {color:gray;}
        .breadcrumb a.not-selected:hover {color:black;}
        pre {font-family:"Times New Roman",Georgia,Serif;}
        .control-group .raw-text {display:inline-block;padding-top:7px;};
        #save-tip {color: gray;}
        @media print {
            a[href]:after{content:""}
            #btn_submit {display:none;}
        }
    </style>
{%/block%}
{%block name="content"%}
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->   
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
		    <!-- {%$executeInfo.controllerName|escape%}-->
            </h3>
            <ul class="breadcrumb" style="margin-bottom:0px;">
                <li>
                    <a href="{%$__controller->getUrlPrefix()%}/{%$executeInfo.controllerName|escape%}"><b>{%$controllerText%}</b> 列表</a>
                <span class="icon-angle-right"></span>
                </li>
                        
                <li>{%if $__is_new%}<a href="javascript:;">新增</a>{%else%}<a class="not-selected" href="{%$__controller->getUrlPrefix()%}/{%$executeInfo.controllerName|escape%}?action=read&id={%$smarty.get.id%}">编辑</a>&nbsp;<a href="javascript:void 0;">预览</a>{%/if%}</li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN SAMPLE FORM PORTLET-->   
            <div class="portlet box" style="border:1px solid #e5e5e5">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form id="main_form" name="main" action="{%$pageAdmin->getUrl()%}" method="post" class="form-horizontal">
                        {%$form->to_html($__is_new, "text")%}

			</div></div>
                    </form>
                    <!-- END FORM-->  
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
    <!-- END PAGE CONTENT-->         
</div>
{%/block%}
{%block name="footjs" append%}
{%$js_code=Form::getFootJS($allForms)%}
{%eval var=$js_code%}
{%/block%}
