#*/1 * * * * cd /var/www/html/aimei_backend/script; /bin/bash waitPrepayOrder.sh > /dev/null
*/1 * * * * cd /var/www/html/aimei_backend/script; /bin/bash waitPayOrder.sh > /dev/null
*/1 * * * * cd /var/www/html/aimei_backend/script; /bin/bash waitOrderCanceled.sh > /dev/null

17 1 * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/mail_order_wait_refund.php >/dev/null
20 1 * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/mail_order_wait_pay.php >/dev/null
18 1 * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/mail_order_prepayed.php >/dev/null
19 1 * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/mail_order_payed.php >/dev/null
22 1 * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/mail_order_to_demostic.php >/dev/null

* * * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/sms_queue_send.php >/dev/null

# 线上日志清理
1 1 1 * * cd /var/www/html/aimei_backend/log/;./log_bak.sh > /dev/null
# banner过期自动下线
* * * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/banner_auto_off.php >/dev/null
# 定期推送消息
* * * * * cd /var/www/html/aimei_backend/;/usr/local/bin/php webroot/route.php script/CrontabForTaskPush.php >/dev/null &
