<script>
    (function(){
        if($(".datetimepicker")[0]){
            $("head").append('<link rel="stylesheet" type="text/css" href="/winphp/metronic/media/css/datetimepicker.css" />');
            $.ajax({
                cache:true,
                url:"/winphp/metronic/media/js/bootstrap-datetimepicker.js",
                success:function(){
                    $(".datetimepicker").datetimepicker({
                        autoclose: true,
                        rtl : App.isRTL()
                    });
                }
            })
        }
        if($(".datepicker")[0]){
            $("head").append('<link rel="stylesheet" type="text/css" href="/winphp/metronic/media/css/datepicker.css" />');
            $.ajax({
                cache:true,
                url:"/winphp/metronic/media/js/bootstrap-datepicker.js",
                success:function(){
                    $(".datepicker").datepicker({
                        format: 'yyyymmdd',
                        autoclose: true,
                        rtl : App.isRTL()
                    });
                }
            })
        }
        $("form[name='__filter']").submit(function(){
            //action 和field两个参数是为了支持choosemodel
            location.href=location.pathname+"?__filter="+encodeURIComponent($(this).serialize()){%if $smarty.get.action%}+"&action={%$smarty.get.action|escape:url%}"{%/if%}{%if $smarty.get.field%}+"&field={%$smarty.get.field|escape:url%}"+"&show={%$smarty.get.show|escape:url%}"{%/if%};
            return false;
        });
        $("body").delegate("[confirm]",'click',function(){
            return confirm($(this).attr("confirm"));
        });
        // 搜索飘红
        var urlParams = location.search.replace('?','').split('&');
        for(i = 0; i < urlParams.length; i++) {
            if (urlParams[i].substr(0,6) == 'search') {
                var kw = decodeURIComponent(urlParams[i].substr(7)).replace(/\s/g, '');
                if (kw == '') break;
                $('#sample_1 td').each(function() {
                    if ($(this).html() == $(this).text()) {
                        $(this).html($(this).html().replace(new RegExp(kw, 'g'), '<b style="color:red;">'+kw+'</b>'));
                    }
                });
            }
        }
    })();
</script>
