<script>
    (function(){
        $("#multi_actions").delegate("a","click",function(){
            var checkboxes=$(".checker .checked input[name=\"__item\"]");
            var ids=checkboxes.map(function(){
                return $(this).val();
            });
            if(!ids||ids.length==0 && $(this).attr("require")!='false'){
                alert("未选中");
                return false;
            }
            ids=Array.prototype.slice.call(ids,0);
            var action=$(this).attr("action");
            $(this).attr("href",action.replace("__ids_json__",JSON.stringify(ids)).replace("__ids__",ids.join(",")));
            ret = eval($(this).attr("pre"));
            if (!ret) {
                return false;
            }
            return true;
        });
        $("#selectAll").click(function(){
            var checkboxes=$(".checker input[name=\"__item\"]");
            if($(this).prop("checked")){
		checkboxes.each(function() {
			$(this).prop("checked", true);
			$(this).parent().addClass("checked");
		});
            }else{
		checkboxes.each(function() {
			$(this).prop("checked", false);
			$(this).parent().removeClass("checked");
		});
            }
        });
	var checkers = $(":checkbox[id!=selectAll]");
	checkers.each(function() {
		$(this).click(function() {
			var checkeds = $(":checkbox[id!=selectAll]:checked");
			if (checkeds.length == checkers.length) {
				$("#selectAll").prop("checked", true);
				$("#selectAll").parent().addClass("checked");
			} else {
				$("#selectAll").prop("checked", false);
				$("#selectAll").parent().removeClass("checked");
			}
		});
	})
    })();
</script>

