{%extends file="admin/framework.tpl"%}
{%block name="head" append%}
	<link href="/winphp/metronic/media/css/DT_bootstrap.css" rel="stylesheet" type="text/css"/>
{%/block%}
{%block name="body"%}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption"><i class="icon-globe"></i>{%$controllerText|escape%} 选择</div>
            </div>
            <div class="portlet-body">
                {%include file="admin/base/_select_list.html" inline%}
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
{%/block%}
{%block name="footjs" append%}
<script>
    (function(){
        var itemDatas={%json_encode(array_map(create_function('$item','return ["id"=>$item->getData("id"),$_GET["show"]=>$item->getData($_GET["show"])];'),$modelDataList))%};
        var pathName = location.pathname.replace(/\//g, '_');
        $("tbody>tr.sel-single").dblclick(function(){
            if (parent.window.choosemodel) {
                var index=$(this).index();
                parent.window.choosemodel('{%$executeInfo.controllerName%}','{%$smarty.get.field%}',itemDatas[index]['id'],itemDatas[index]['{%$smarty.get.show%}']);
                parent.window.choosemodelPopup.close();
            }
        });
        $(":checkbox[name=__item]").each(function(elem) {
            $(this).parentsUntil("tr").click(function(){
                $(this).dblclick();
            });
        });
        $("#check_all").click(function(){
            var _checkBtn = $(this);
            $(":checkbox[name=__item]").each(function() {
                if (_checkBtn.prop('checked') == $(this).prop('checked')) {
                } else {
                    $(this).click();
                }
            });
        });
        if ($("#check_all").length == 1) {
            $(":checkbox[name=__item]").each(function() {
                $(this).click(function() {
                    var _selMulti = $.cookie('_selMulti');
                    if (typeof _selMulti == 'string') {
                        _selMulti = JSON.parse(_selMulti);
                    }
                    if (_selMulti == null) {
                        _selMulti = new Object;
                    }
                    if (typeof _selMulti[pathName] != 'object'
                            || _selMulti[pathName] == null) {
                        _selMulti[pathName] = new Object;
                    }
                    if ($(this).prop('checked')) {
                        for (var i = 0; i < itemDatas.length; i++) {
                            if (itemDatas[i].id == $(this).val())
                                _selMulti[pathName][$(this).val()] = itemDatas[i];
                        }
                    } else {
                        delete _selMulti[pathName][$(this).val()];
                    }
                    $.cookie('_selMulti', JSON.stringify(_selMulti));
                });
            });
            var selMulti = $.cookie('_selMulti');
            if (typeof selMulti == 'string') {
                selMulti = JSON.parse(selMulti);
                if (selMulti != null) {
                    for(sid in selMulti[pathName]) {
                        $(":checkbox[value="+sid+"]").click();
                    }
                }
            }
        }
        $("form[name='search']").submit(function(){
            $(this).find('[name="action"]').val('select_search');
        });
        $("#multi-select").click(function() {
            var selItems = new Array;
            var selMulti = $.cookie('_selMulti');
            if (typeof selMulti == 'string') {
                selMulti = JSON.parse(selMulti);
                for(sid in selMulti[pathName]) {
                    selItems.push(selMulti[pathName][sid]);
                }
            }
            if (parent.window.choosemodelMulti && selItems.length) {
                parent.window.choosemodelMulti('{%$executeInfo.controllerName%}','{%$smarty.get.field%}',selItems);
                parent.window.choosemodelMultiPopup.close();
                selMulti[pathName] = new Object;
                $.cookie('_selMulti', JSON.stringify(selMulti));
            }
            return;
        });
    })();
</script>

{%include file="admin/base/_filter_js.html" inline%}
{%include file="admin/base/_multi_actions_js.html" inline%}
{%/block%}
