<p>邮件标题：【交易文件签署申请】-【<span>{%$vars._company_short%}</span>】-【<span>{%$vars.turn_sub%}</span>轮】</p>
<p>Dear Team,</p>
<p>Team, 本次交易情况摘要如下，法务部无意见了。请team及【老曹/云刚】确定可定稿及批准签署。本次交易计划于【手填入时间】完成签署，预计于【手填入时间】完成交割。本次交易【已完成/待完成/已豁免/无须】交割前例会update。</p>
<p>1.交易ID：<span>{%$vars.id%}</span></p>
<p>2.<span>{%$vars._company_short%}</span>,公司处于<span>{%$vars.turn_sub%}</span>轮</p>
<p>3.本轮交易类型：<span>{%$vars.deal_type%}</span>；源码<span>{%$vars.enter_exit_type%}</span>；其他投资人<span>{%$vars.other_enter_exit_type%}</span></p>
<p>4.老股转让情况：<span>{%$vars.raw_stock_memo%}</span></p>
<p>5.企业估值：投前<span>{%$vars.pre_money%}</span>；本轮新股融资总额<span>{%$vars.financing_amount%}</span>，投后<span>{%$vars.post_money%}</span>，为上轮估值的<span>{%$vars.value_change%}</span>倍。本轮稀释<span>{%$vars.dilution_rate%}</span>。</p>
<p>6.本轮交易方案备注：<span>{%$vars.deal_memo%}</span></p>
<p>7.源码投资方案：</p>
{%if $vars.deal_type == '企业融资（源码投）'%}
<p>（1）源码本轮：<span>{%$vars.entity_id%}</span>，投资金额为<span>{%$vars.our_amount%}</span>，其中<span>{%$vars.our_amount%}</span>买<span>{%$vars.invest_turn%}</span>轮<span>{%$vars.new_old_stock%}</span>（post<span>{%$vars._stock_ratio%}</span>）</p>
<p>（2）源码本轮投资合计：各主体投资总额<span>{%$vars._entitys_shareholding%}</span>，总投资股比<span>{%$vars._entitys_shareholding_ratio%}</span></p>
<p>（3）源码投资款支付时间：<span>{%$vars.expect_pay_schedule%}</span></p>
{%/if%}
<p>8.本轮交割后源码各主体合计持股：<span>{%$vars._shareholding_ratio_sum%}</span></p>
<p>9.本轮其他主要投资人金额与Post比例：<span>{%$vars.other_investor_summary%}</span></p>
<p>10.源码退出方案：</p>
{%if $vars.deal_type == '源码退出'%}
<p>（1）<span>{%$vars.exit_entity_id%}</span>，退出金额为<span>{%$vars.exit_amount%}</span>，出售Post<span>{%$vars._exit_stock_ratio%}</span>的<span>{%$vars.exit_turn%}</span>轮股权。本次退出回报倍数为<span>{%$vars._exit_return_rate%}</span>。</p>
<p>（2）源码退出款收取时间：<span>{%$vars.expect_pay_schedule%}</span></p>
<p>（3）源码合计：本次交易交割后，源码各主体合计持股<span>{%$vars._shareholding_ratio_turn_sum%}</span>。</p>
{%/if%}
<p>11.公司治理</p>
<p>（1）公司董事会席位<span>{%$vars.board_number%}</span>席，源码<span>{%$vars.our_board%}</span>董事会席位</p>
<p>（2）源码董事会veto：<span>{%$vars.board_veto%}</span></p>
<p>（3）源码股东会veto：<span>{%$vars.holder_veto%}</span></p>
<p>12.源码主要义务与限制</p>
<p>（1）投资限制：<span>{%$vars.invest_competitor_limit%}</span>限制投资人投资竞品。</p>
<p>（2）股转限制：<span>{%$vars.stock_transfer_limit%}</span>限制投资人股权转让竞品。其他转让限制：<span>{%$vars.stock_transfer_limit_other%}</span>。</p>
<p>（3）源码的其他责任：<span>{%$vars.limit_other%}</span></p>
<p>13.主要权利</p>
<p>（1）本轮优先清算权：<span>{%$vars.liquidation_preference%}</span>，计算方法为<span>{%$vars.liquidation_preference_way%}</span>，具体情况为：<span>{%$vars.liquidation_preference_memo%}</span></p>
<p>（2）本轮优先分红权：<span>{%$vars.dividends_preference%}</span></p>
<p>（3）本轮回购权：<span>{%$vars.buyback_right%}</span>，回购义务人为<span>{%$vars.buyback_obligor%}</span>，回购金额计算标准为<span>{%$vars.buyback_standard%}</span>，具体情况为：<span>{%$vars.buyback_memo%}</span></p>
<p></p>
<p>（4）本轮拖售权：<span>{%$vars.drag_along%}</span>，源码对拖售权<span>{%$vars.drag_along_veto%}</span>独立的否决权,具体情况为：<span>{%$vars.drag_along_memo%}</span></p>
<p>（5）源码<span>{%$vars.warrant%}</span>Warrant，具体情况为：<span>{%$vars.warrant_memo%}</span></p>
<p>（6）其他投资人<span>{%$vars.others_warrant%}</span>Warrant，具体情况为：<span>{%$vars.others_warrant_memo%}</span></p>
<p>（7）源码<span>{%$vars.info_right%}</span>信息权；信息权门槛为<span>{%$vars.info_right_threshold%}</span></p>
<p>（8）源码前轮权利<span>{%$vars.right_changes%}</span>重要变化，情况为：<span>{%$vars.right_changes_memo%}</span></p>
<p>（9）本轮与上轮投资人权利不同：<span>{%$vars.latest_right_changes%}</span></p>
<p>14.其他重要条款</p>
<p>（1）源码权利备注：<span>{%$vars.rights_memo%}</span></p>
<p>（2）各方其他重要权利义务：<span>{%$vars.each_side_duty%}</span></p>
<p>（3）重要交割后义务：<span>{%$vars.delivery_duty%}</span></p>
<p>（4）其他重要条款/安排：</p>
<p>15.其他</p>
<p>（1）与TS比<span>{%$vars.ts_changes%}</span>重大变化，情况为<span>{%$vars.ts_changes_memo%}</span></p>
<p>（2）重大风险提示：<span>{%$vars.risk_tip%}</span></p>
<p>（3）风控保留意见：<span>{%$vars.risk_management_view%}</span></p>
